<div class="container-fluid">
  <h3 class="text-dark mb-4">Database Students &nbsp;<a routerLink="/addstudent" class="btn btn-outline-primary">New Student</a></h3>
  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold">Students Info</p>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col-md-12">
          <label class="form-label"><input type="search" name="value" [(ngModel)]="value" (ngModelChange)="search()" class="col-md-12 form-control  " aria-controls="dataTable" placeholder="Search Student Name here"></label>
        </div>
      </div>
      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable" >
          <thead>
            <tr>
              <th>Name</th>
              <th>Class</th>
              <th>DOB</th>
              <th>Sex</th>
              <th>Origin state</th>
             
            </tr>
          </thead>
          <tbody *ngFor="let data of data$">
            <tr *ngFor="let parent of data.parent">
              <td><img class="rounded-circle me-2" width="30" height="30" src="{{data.imgPath}}">{{data.firstName}} {{data.lastName}}</td>
              <td>{{data.class}}</td>
              <td>{{data.dob}}</td>
              <td>{{data.sex}}</td>
              <td>{{data.originState}}</td>
              <td><a class="btn btn-info" routerLink="/studentdetail/{{data.studentId}}">Details</a></td>
              <td><a class="btn btn-primary" routerLink="/editstudent/{{parent.parentId}}">Edit</a></td>
              <td><a class="btn btn-danger" (click)="delete(data.studentId)">Delete</a></td>
            </tr>
            
          </tbody>
          <tfoot>
            <tr>
              <td><strong>Name</strong></td>
              <td><strong>Class</strong></td>
              <td><strong>DOB</strong></td>
              <td><strong>Sex</strong></td>
              <td><strong>Origin state</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
      
    </div>
  </div>
</div>
