
<div class="card shadow">
  <div class="card-body" >

  <h3 align="center">Contact Us</h3>

  <div>
    <div>
      <div class="form-group">
        <label for="Fullname">Full Name</label>
        <input type="text"
               class="form-control"
               id="Fullname"
               required
               [(ngModel)]="contact.FullName"
               name="Fullname" />
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input class="form-control"
               id="phoneNumber"
               required
               [(ngModel)]="contact.PhoneNumber"
               name="phoneNumber" />
      </div>
      <div class="form-group">
        <label for="Email">Email</label>
        <input class="form-control"
               id="Email"
               type="text"
               required
               [(ngModel)]="contact.Email"
               name="Email" />
      </div>
      <div class="form-group">
        <label for="Message">Message</label>
        <textarea class="form-control"
               id="Message"
               type="text"
               required
               [(ngModel)]="contact.Message"
               name="Message"></textarea>
      </div>
      <div class="row">
        <div class="offset-md-5 col-md-2">
          <button type="button" class="btn btn-primary" (click)="saveContact()"> Submit </button>

        </div>

      </div>
    </div>
  </div>
</div>
</div>
<style>
  .submit-form {
    max-width: 400px;
    margin: auto;
  }

</style>
