<div class="card shadow">
  <div class="card-header py-3">
    <p class="text-primary m-0 fw-bold">Database Users</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <label class="form-label"><input type="search" name="value" [(ngModel)]="value" (ngModelChange)="search()" class="col-md-12 form-control  " aria-controls="dataTable" placeholder="Search UserName here"></label>
      </div>
    </div>
  </div>
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      <table class="table my-0" id="dataTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let user of users">
            <td style="font-weight:bolder;">{{user.userName}}</td>
            <td>{{user.roles}}</td>
            <td>{{user.phoneNumber}}</td>
            <td><a routerLink="/editusers/{{user.id}}" class="btn btn-info">Details</a></td>
            <td><button (click)="Delete(user.id)" class="btn btn-danger">Delete</button></td>
          </tr>

        </tbody>
      </table>
    </div>
   
    
  </div>

