@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p class="text-center">
                        <a id="Login" class="btn btn-outline-primary" asp-page="./Login">Redirect to Login!</a>
                    </p>